meteoswiss:
  stac_base_url: "https://data.geo.admin.ch/api/stac/v1"
  ch1eps_collection: "ch.meteoschweiz.ogd-forecasting-icon-ch1"
  ch2eps_collection: "ch.meteoschweiz.ogd-forecasting-icon-ch2"

lenticularis:
  base_url: "https://lenticularis.lg4.ch"
